.help-header{ 
    font-family: OpenSans;
    position: relative;
    left: 4vw;
}
.back-link{
    position: relative;
    font-family: OpenSans;
    left: 5vw;
    bottom:4vh;
}


.link{
    cursor: pointer;
    font-size:24px;
    text-decoration: underline;
}

  h4 {
    text-shadow: 0px 3px rgba(77, 77, 77, 0.5);
  }
  
  .btndiv {
    margin: 40px;
    font-weight: bold;
    width: 500px;
    height: 100px;
  }
  
  .btn-container {
    width: 400px;
    height: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .btn {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    height: 80px;
    font-family: Sans-Serif;
  }
  

  .btn4 {
    background-color: #bb6c6ca3;
    border: 3px solid #bb6c6ca3;
    color: white;
    text-transform: uppercase;
    height: auto;
    width: 320px;
    text-shadow: 4px 4px 3px rgba(77, 77, 77, 0.5);
    box-shadow: 14px 14px rgba(77, 77, 77, 0.1);
    cursor: pointer;
    transition: transform 0.4s, box-shadow 0.4s;
  }
  
  .btn4:hover {
    opacity:0.8
}
  
  .btn4:active {
    transform: translate3d(7px, 7px, 0px);
    box-shadow: 7px 7px rgba(77, 77, 77, 0.5);
  }
  