.title{ 
    font-family: OpenSans;
    position: relative;
    left: 0.4vw;
    margin-top:30px;
    font-family: open-sans-italic;
    font-size:30px;
    font-weight: bold;
}
.blue-login{
    height:27vh;
}

.green-login{
    height:34vh;
}