.title{ 
    font-family: OpenSans;
    position: relative;
    left: 3vw;
    margin-top:30px;
    font-family: open-sans-italic;
    font-size:22px;
}
.blue-login{
    height:27vh;
}

.green-login{
    height:34vh;
}