
<div class="login-page" >
    <h2></h2>
        <div class="form" [ngClass]="{'blue-height' : clientType === 'blue', 'green-yellow-height' : (clientType === 'green') || (clientType === 'yellow')}">
            <form class="login-form">

                <restore-password *ngIf="(isChange === 'false' && isChangeAndRestoreSeperate) || !isChangeAndRestoreSeperate"
                [isMail]="isMail" [isUsername]="isUsername"></restore-password>
                <button *ngIf="!isChangeAndRestoreSeperate" style="margin-bottom:50px;" loginColor [buttonBackgroundColor]="clientType">Restore password </button>

                <change-password *ngIf="(isChange=== 'true' && isChangeAndRestoreSeperate) || !isChangeAndRestoreSeperate" ></change-password>
                <button *ngIf="!isChangeAndRestoreSeperate"  loginColor [buttonBackgroundColor]="clientType">Change password </button>
                <captcha *ngIf="clientType === 'blue'"></captcha>
                <button *ngIf="isChange === 'false'" loginColor [buttonBackgroundColor]="clientType">Restore password </button>
                <button *ngIf="isChange === 'true'" loginColor [buttonBackgroundColor]="clientType">Change password </button>
                <p class="message"><a [routerLink]="['/login']" >Back to login page </a></p>
            </form>
        </div>
    </div>
