
  body{background:#203;text-align:center;}
  h2{
      position:relative;
      right:5vw;
      font-size:3em;color:#ffc;
      animation: glowing 2s infinite;
       width:30vw;
    
    }
    .link{
        position: relative;
        left:2vw;
        font-size:2em;
        color: #2f1f1f;
    }
  
  p{color:white;}